body {
  margin: 0 auto;
  width: 550px;
  background-color: #1F2937;
  padding: 115px 52px;
}

div {
  width: 446px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: white;
  font-family: 'Karla', sans-serif;
  margin: 0;
}

.green {
  color: #4ADF86;
}

p {
  font-size: 20px;
  color: #D5D4D8;
  font-family: 'Inter', sans-serif;
  margin: 5px 0 20px 0;
}

button {
  font-size: 16px;
  background: #10B981;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 6px;
  margin: 51px 0 35px 0;
  cursor: pointer;
}

.line {
  border-bottom: 1px solid #2F3E53;
  width: 446px;
  display: block;
}

ul {
  list-style-type: none;
  padding: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 16px;
  background-color: #273549;
  color: #D5D4D8;
  padding: 10px;
  border-radius: 6px;
  flex-grow: 1;
  text-align: center;
}

ul li:hover {
  background-color: #ffffffbd;
  color: #273549;
}